[mcu]
canbus_uuid: 2dc7a3ac3edd
# restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 50
max_z_accel: 100

# ========= X轴 FOC1 =========
[stepper_x]
step_pin: PA0
dir_pin: !PA1
enable_pin: !PA2
endstop_pin: ^PA3
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
position_min:0
position_max:200
homing_speed:50

# TMC2209 UART配置（485总线）
[tmc2209 stepper_x]
uart_pin: PC11
run_current: 0.8
hold_current: 0.4
diag_pin: ^PA3

# ========= Y轴 FOC2 =========
[stepper_y]
step_pin: PC11
dir_pin: !PC12
enable_pin: !PC13
endstop_pin: ^PC2
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
position_min:0
position_max:200
homing_speed:50

[tmc2209 stepper_y]
uart_pin: PC12
run_current: 0.8
hold_current: 0.4
diag_pin: ^PC2

# ========= Z轴 FOC3 =========
[stepper_z]
step_pin: PE0
dir_pin: !PE1
enable_pin: !PE4
endstop_pin: ^PC3
rotation_distance: 8
microsteps: 16
full_steps_per_rotation: 200
position_min:0
position_max:200
homing_speed:10

[tmc2209 stepper_z]
uart_pin: PC11
run_current: 0.6
hold_current: 0.3
diag_pin: ^PC3

# ========== 挤出机 ==========
[extruder]
step_pin: PB0
dir_pin: !PB1
enable_pin: !PD2
rotation_distance: 33.5
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.4
filament_diameter: 1.75
heater_pin: PB5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC0
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: 0
max_temp: 260

# ========== 热床 ==========
[heater_bed]
heater_pin: PD0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC1
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 110

# ========== 风扇 ==========
[fan]
pin: PD6
kick_start_time: 0.1
off_below: 0.1

[heater_fan nozzle_cooling_fan]
pin: PD7
heater: extruder
heater_temp: 50.0
max_power: 1.0
