[mcu]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: corexy
max_velocity: 600
max_accel: 25000
max_z_velocity: 25
max_z_accel: 1000

# Motor1 X轴 示例映射（你根据硬件实际接线修改gpiochip/line）
[stepper_x]
step_pin: gpiochip1/gpio0
dir_pin: !gpiochip1/gpio1
enable_pin: !gpiochip1/gpio2
microsteps: 16
rotation_distance: 39
endstop_pin: !gpiochip1/gpio3
position_endstop: 0
position_max: 350
position_min: -20
homing_speed: 80
homing_retract_dist:0

# Motor2 Y轴
[stepper_y]
step_pin: gpiochip0/gpio13
dir_pin: gpiochip0/gpio14
enable_pin: !gpiochip0/gpio15
microsteps: 16
rotation_distance: 39
endstop_pin: !gpiochip0/gpio2
position_endstop: 0
position_min: -20
position_max: 400
homing_speed: 80
homing_retract_dist:0

# Motor3 Z轴
[stepper_z]
step_pin: gpiochip0/gpio0
dir_pin: gpiochip0/gpio1
enable_pin: !gpiochip0/gpio3
microsteps: 16
rotation_distance: 8
gear_ratio: 3:1
endstop_pin: !gpiochip0/gpio6
position_endstop: 0
position_max: 300
position_min: -15.0
homing_speed: 10
second_homing_speed: 5
homing_retract_dist: 5

# [extruder]
# step_pin: gpiochip1/gpio0
# dir_pin: gpiochip1/gpio1
# enable_pin: gpiochip1/gpio2
# microsteps: 16
# rotation_distance: 43.27
# nozzle_diameter: 0.4
# filament_diameter: 1.75
# gear_ratio: 6:1
# pressure_advance: 0.03
# # 加热引脚 Host硬件ADC+GPIO
# heater_pin: gpiochip0/gpio13
# sensor_pin: gpiochip0/adc0
# sensor_type: Generic 3950
# control: pid
# pid_Kp: 32.495
# pid_Ki: 11.402
# pid_Kd: 23.153
# min_temp: 0
# max_temp: 350
# min_extrude_temp: 170
# max_extrude_only_accel: 5000
# max_extrude_only_velocity: 100
# max_extrude_only_distance: 20000
# max_extrude_cross_section: 20000