[include mainsail.cfg]
[mcu]
# serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_22004D001251333136363437-if00
canbus_uuid: 2dc7a3ac3edd
# restart_method: command

[virtual_sdcard]
path: /home/klipper/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 600
max_accel: 25000
max_z_velocity: 25
max_z_accel: 1000

# Motor1
[stepper_x]
step_pin: PA0
dir_pin: !PA1
enable_pin: !PA2
microsteps: 16
rotation_distance: 39
endstop_pin: !PA3
position_endstop: 0
position_max: 350
position_min: -20
homing_speed: 80
homing_retract_dist:0
# homing_positive_dir: false

# Motor2
[stepper_y]
step_pin: PC13
dir_pin: PC14
enable_pin: !PC15
microsteps: 16
rotation_distance: 39
endstop_pin: !PC2
position_endstop: 0
position_min: -20
position_max: 400
homing_speed: 80
homing_retract_dist:0
# second_homing_speed: 3

# Motor3
[stepper_z]
step_pin: PE0
dir_pin: PE1
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
gear_ratio: 3:1
endstop_pin: !PE6
position_endstop: 0
position_max: 300
position_min: -15.0
homing_speed: 10
second_homing_speed: 5
homing_retract_dist: 5

[extruder]
step_pin: PD0
dir_pin: PD1
enable_pin: PD2
microsteps: 16
rotation_distance: 43.27
nozzle_diameter: 0.4
filament_diameter: 1.75
gear_ratio: 6:1
# pressure_advance: 0
pressure_advance: 0.03
heater_pin: PB13
sensor_pin: PC1
sensor_type: Generic 3950
control: pid
pid_Kp: 32.495
pid_Ki: 11.402
pid_Kd: 23.153
min_temp: -220
max_temp: 350
min_extrude_temp: -220
max_extrude_only_accel: 5000
max_extrude_only_velocity: 100
max_extrude_only_distance: 20000
max_extrude_cross_section: 20000
