[mcu]
serial: /tmp/klipper_sim
# serial: /tmp/klipper_host_mcu

[printer]
kinematics: corexy
max_velocity: 600
max_accel: 25000
max_z_velocity: 25
max_z_accel: 1000

# ========= X轴 =========
[stepper_x]
step_pin: gpio0
dir_pin: !gpio1
enable_pin: !gpio2
endstop_pin: ^gpio3
position_endstop: 0
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
position_min: 0
position_max: 200
homing_speed: 50

# ========= Y轴 =========
[stepper_y]
step_pin: gpio4
dir_pin: gpio5
enable_pin: !gpio6
endstop_pin: ^gpio7
position_endstop: 0
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
position_min: 0
position_max: 200
homing_speed: 50

# ========= Z轴 =========
[stepper_z]
step_pin: gpio8
dir_pin: !gpio9
enable_pin: !gpio10
endstop_pin: ^gpio11
position_endstop: 0
rotation_distance: 8
microsteps: 16
full_steps_per_rotation: 200
position_min: 0
position_max: 200
homing_speed: 10

# ========== 挤出机 ==========
[extruder]
step_pin: gpio12
dir_pin: !gpio13
enable_pin: !gpio14
rotation_distance: 33.5
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.4
filament_diameter: 1.75
heater_pin: gpio15
sensor_type: EPCOS 100K B57560G104F
sensor_pin: gpio16
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: 0
max_temp: 260

# ========== 热床 ==========
[heater_bed]
heater_pin: gpio17
sensor_type: EPCOS 100K B57560G104F
sensor_pin: gpio18
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 110

# ========== 风扇 ==========
[fan]
pin: gpio19
kick_start_time: 0.1
off_below: 0.1

[heater_fan nozzle_cooling_fan]
pin: gpio20
heater: extruder
heater_temp: 50.0
max_power: 1.0
